body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f8fa;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 70px 80px; /* 进一步减小内边距 */
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 40%; /* 设置宽度为40% */
    max-width: 600px; /* 限制最大宽度 */
}

h1 {
    font-size: 34px;
    color: #333;
    margin-bottom: 30px;
}

.version-text {
    color: #666;
    margin-bottom: 30px;
}

.entry-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 30px; /* 添加间距 */
}

.entry-button:hover {
    background-color: #0056b3;
}

.support-text {
    color: #888;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px; /* 增加上边距，使其向下移动 */
    margin-bottom: -40px;
}

.feishu-logo {
    width: 20px;
    height: 20px;
}
